html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto Condensed', sans-serif;
}

main {

  width: 450px;
  margin: auto;
  background-color: white;
  position: relative;
  top: 100px;
  z-index: 2
}

.tweet {

  margin-bottom: 12px;
  border: solid;
  box-sizing: border-box;
  border-radius: 1%;
}

.tweetHeader {

  margin-top: 0px;
  background-color: lightgrey;
  height: 120px;
}

.avatar {

  position: relative;
  top: 8px;
  left: 7px;
}

.avatar img {

  border-radius: 10%
}

.likeBar img {

  position: relative;
  left: 320px;
  top: -14px;
  visibility: hidden;
}

.userName {

  position: relative;
  font-size: 180%;
  padding: 15px;
  margin: 0;
  top: -105px;
  left: 100px;
  width: 300px;
}

.someTweet {

  position: relative;
  margin: 20px;
  width: 100%;
}

.footer {
  position: relative;
  top: 10px;
  left: 5px;
  margin: 2px;
}

.hovered {
  font-weight: bold;
}

.handle {
  float: right;
  position: relative;
  top: -150px;
  left: -5px;
}